* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
  html{
      display: table;
      margin: auto;
      background-color:rgb(212, 207, 207);
}

#container{
    width:640px;
    padding:16px 10px 0px 10px;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#authors{
    margin:0px 0px 15px 0px;
    padding: 0px 0px 5px 0px;
}
#footer{
    padding:5px 0px 5px 0px;
    border-top: 2px solid orangered;
    margin:0px 0px 15px 0px;
    background-color:white;
}
#intro{
    padding:20px;
}
img{
    width:620px;
    background: grey;
    padding:1px;
}
p{
    margin:16px 0px 0px 0px;
}
figcaption{
    margin:0px;
    padding:8px 0px 8px 0px;
    color:#666;
    font-weight:13px;
    text-align: center;
}
.szerzok{
    color:blue;
}
h1{
    font-size:26px;
    padding:0px 0px 10px 0px;

    
}
h2{
    font-size:18px;
   
}
#abstract p{
    font-weight: bold;
    padding:20px 0px 20px 0px;
}
#article{
    width:620px;
}
ul{
    padding:15px 15px 15px 20px;
}
#article p{
    padding:10px 0px 10px 0px;
}
#authors p{
    color:#666;
    padding:0px;
    border-bottom: 2px solid #ccc;
}

